language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - pytest
after_success:
  - codecov