black==19.10b0
lxml==4.6.3
pandas==1.2.4
requests==2.25.1
biopython==1.79
fake-useragent==0.1.11
joblib==1.0.1
pandarallel==1.5.2
scikit-learn==0.24.2
gensim==4.0.1
numpy==1.19.2
pytest==6.2.4
coverage==5.5
